.hero-sec .slider-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.slide-item {
  position: relative;
  overflow: hidden;
  height: 90vh;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
  z-index: 1;
}

.slide-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.offer-detail {
  position: absolute;
  top: 20%;
  left: 6.5%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 20px;
  color: white;
  z-index: 10;
}

.offer-detail h1 {
  margin: 0;
  font-size: 24px;
  padding-bottom: 10px;
}

.sub-title {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.slick-arrow {
  position: absolute;
  bottom: 5%;
  z-index: 4;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  color: white;
  transition: all 0.3s ease;
}

.slick-arrow:hover {
  color: #2eb774;
}

.slick-arrow.prev {
  right: 15%;
}

.slick-arrow.next {
  right: 10%;
}

.hero-sec .slick-dots {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.hero-sec .slick-dots li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hero-sec .slick-dots li button {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 5px;
  outline: none;
}

.hero-sec .slick-dots li.slick-active button {
  background-color: #2eb774;
}

.hero-sec .slick-dots li button:before {
  content: "";
}

@media (max-width: 768px) {
  .hero-sec .slider-container {
    max-width: 100%;
  }
  .slide-item {
    height: 70vh;
  }

  .hero-sec .slick-dots {
    bottom: 13%;
  }

  .hero-sec .slick-arrow {
    bottom: 10%;
  }

  .hero-sec .slick-arrow.prev {
    left: 12.5%;
  }

  .hero-sec .slick-arrow.next {
    right: 12.5%;
  }

  .offer-detail {
    top: 10%;
    left: 12.5%;
    gap: 0.5rem;
    width: 100%;
    padding: 10px 20px;
    color: white;
    z-index: 10;
  }
}

@media (max-width: 576px) {
  .slide-item {
    height: 45vh;
  }
  .hero-sec .slick-dots {
    bottom: 10%;
  }
  .offer-detail {
    top: 15%;
    left: 0;
    gap: 0;
    width: 100%;
    padding: 0 20px;
    color: white;
    z-index: 10;
  }
  .offer-detail h1 {
    margin: 0;
    font-size: 18px;
    padding-bottom: 0;
  }

  .title {
    font-size: 22px;
  }

  .sub-title {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .hero-sec .slick-dots {
    bottom: 13%;
  }
  .offer-detail {
    top: 10%;
    left: 0;
    gap: 0;
    width: 100%;
    padding: 0 20px;
    color: white;
    z-index: 10;
  }
  .offer-detail h1 {
    margin: 0;
    font-size: 16px;
    padding-bottom: 0;
  }

  .title {
    font-size: 18px;
  }

  .sub-title {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 12px;
  }
}
